<app-navbar></app-navbar>
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <div class=" image d-flex flex-column justify-content-center align-items-center">
      <button class="btn2"><img src="https://cdn-icons-png.flaticon.com/512/219/219983.png" height="100" width="100" />
      </button>
      <span class="name mt-3">{{ userGetId.name }}</span>
      <span class="idd">{{ userGetId.username }}</span>
      <span class="idd">{{ userGetId.email }}</span>
      <div class="d-flex flex-row justify-content-center align-items-center mt-3">
        <span class="follow">Tipo: {{ userGetId.type }}</span>
      </div>
      <div class="d-flex mt-2">
        <button class="btn btn-warning mt-1 m-2 " data-bs-toggle="offcanvas" data-bs-target="#offcanvasGetUser"
          aria-controls="offcanvasGetUser">Editar perfil</button>
        <a href=""><button class="btn btn-danger mt-1 m-2" (click)="deleteEnterprise()">Eliminar perfil</button></a>
      </div>
    </div>
  </div>
  <!-- Off canvas update-->

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasGetUser" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasGetUser">Update Profile</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    
    <div class="offcanvas-body">
      <form (ngSubmit)="updateEnterprise()" *ngIf="userGetId">
        <div class="mb-2">
          <label class="form-label">Name</label>
          <input [(ngModel)]="userGetId.name" name="name" type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
          <label class="form-label">Type</label>
          <input [(ngModel)]="userGetId.type" name="type" type="text" class="form-control" id="type">
        </div>
        <div class="mb-3">
          <label class="form-label"> Username</label>
          <input [(ngModel)]="userGetId.username" name="username" type="text" class="form-control" id="username">
        </div>
        <div class="mb-3">
          <label class="form-label"> Email</label>
          <input [(ngModel)]="userGetId.email" name="email" type="text" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label class="form-label">Teléfono</label>
          <input [(ngModel)]="userGetId.phone" name="phone" type="text" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Cancel</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="offcanvas">Update</button>
        </div>
      </form>
    </div>
  </div>